@page "/goodlinks"

<h3>Полезные ссылки</h3>
<ul>
    <li><a href="http://127.0.0.1/api">Апиха</a></li>
    <li><a href="http://127.0.0.1/admin">Админка</a></li>
    <li><a href="https://www.notion.so/SKABEN-docs-87b1ac8c0bdf4476b122ce46cecdd8ad">Игротехническая документация</a></li>
    <li><a href="https://github.com/skaben/skaben">Исходный кот</a></li>
</ul>
@code {

}
