@inherits LayoutComponentBase

<PageTitle>Panel</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
@*         <ErrorBoundary> *@
        <AlertStateComponent />
        @* </ErrorBoundary> *@
        <article class="content px-4">
            @* <ErrorBoundary> *@
            @Body
            @* </ErrorBoundary> *@
        </article>
    </main>
</div>

@code {

}
